# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/weathernow/
/doc/api/
.dart_tool
.flutter-plugins
.packages
.pub-cache
.pub/
/build/

# Android related
**/weathernow/android/**/gradle-wrapper.jar
**/weathernow/android/.gradle
**/weathernow/android/captures/
**/weathernow/android/gradlew
**/weathernow/android/gradlew.bat
**/weathernow/android/local.properties
**/weathernow/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
**/weathernow/ios/**/*.mode1v3
**/weathernow/ios/**/*.mode2v3
**/weathernow/ios/**/*.moved-aside
**/weathernow/ios/**/*.pbxuser
**/weathernow/ios/**/*.perspectivev3
**/weathernow/ios/**/*sync/
**/weathernow/ios/**/.sconsign.dblite
**/weathernow/ios/**/.tags*
**/weathernow/ios/**/.vagrant/
**/weathernow/ios/**/DerivedData/
**/weathernow/ios/**/Icon?
**/weathernow/ios/**/Pods/
**/weathernow/ios/**/.symlinks/
**/weathernow/ios/**/profile
**/weathernow/ios/**/xcuserdata
**/weathernow/ios/.generated/
**/weathernow/ios/Flutter/App.framework
**/weathernow/ios/Flutter/Flutter.framework
**/weathernow/ios/Flutter/Generated.xcconfig
**/weathernow/ios/Flutter/app.flx
**/weathernow/ios/Flutter/app.zip
**/weathernow/ios/Flutter/flutter_assets/
**/weathernow/ios/ServiceDefinitions.json
**/weathernow/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!**/weathernow/ios/**/default.mode1v3
!**/weathernow/ios/**/default.mode2v3
!**/weathernow/ios/**/default.pbxuser
!**/weathernow/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages